<div class="card">
  <div class="card-header">
    Parent Component
  </div>
  <div class="card-body">
      <div class="form-group">
          <div class="row">
            <div class="col-sm-12">
                <span class="h4">Data from child: {{dataFromChild}}</span>
            </div>
          </div>
        <label for="">Input a text</label>
        <input type="text" class="form-control" #txt>
        <button class="btn btn-success mt-1" (click)="inputToChild(txt.value)">Input to child</button>
      </div>
      <app-child [dataFromParent]="dataToChild" (dataToParent)="getDataFromChild($event)"></app-child>
  </div>
</div>

