<div class="sidebar" style="height: 100%;">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/app/demo-component']">
          <i class="fa fa-shopping-bag"></i> Components
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/app/demo-directive']">
          <i class="fa fa-shopping-bag"></i> Directives
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/app/demo-pipe']">
          <i class="fa fa-shopping-bag"></i> Pipes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/app/demo-service']">
          <i class="fa fa-shopping-bag"></i> Services
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/app/demo-guard']">
          <i class="fa fa-shopping-bag"></i> Guards
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/app/demo-binding']">
          <i class="fa fa-shopping-bag"></i> Angular Binding
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/app/demo-routing']">
          <i class="fa fa-shopping-bag"></i> Angular Routing
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/app/demo-io']">
          <i class="fa fa-shopping-bag"></i> Input & Output
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="">
          <i class="fa fa-shopping-bag"></i> Angular Lifecycle Hook
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/app/demo-form']">
          <i class="fa fa-shopping-bag"></i> Angular Form
        </a>
      </li>
    </ul>
  </nav>
</div>