.zone-dnd {
    height: 300px;
    width: 100%;
    outline: 2px dashed #92b0b3;
    display: table;
}
.display-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.margin-top-20 {
    margin-top: 20px;
}